@import url('https://fonts.googleapis.com/css?family=Montserrat:800,900');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    display: flex;
	justify-content: center;
	align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.button-holder {
    background: black;
    width: 200px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    justify-content: center;
}

.button {
    display: block;
    position: relative;
    padding: 15px 20px;
    font-weight: 900;
    text-align: center;
    color: white;
    border-radius: 20px;
    outline: 0;
    overflow:hidden;
    background: rgb(228, 70, 70);
    z-index: 1;
    transition: all 0.3s ease-in;
}

.button:hover {
    color: rgb(40, 40, 40);
}

.button:before {
    content: "";
    position: absolute;
    background: white;
    border-radius: 15px 15px 0 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.2s ease-in;
}

.button:hover:before {
    top: 0;
}